* { 
    box-sizing: border-box;
}

header {
    padding-top: 1em;
    font-family: cursive;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
}

/* nav li{
    font-family: cursive;
    font-size: 30px;
} */

nav{
    font-size: 2em;
    text-align: center;
    position: absolute;
    top: 10px;
    width: 100%;
}

nav ul{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
 }

nav li{
    text-align: center;
    padding: .5em 1em;
    width: 100%;
    font-family: cursive;
    font-size: 30px;
}
