* { 
    box-sizing: border-box;
}



body {
    margin: 0;
    padding: 0;
    background-image: url('../images/craft.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }

header {
    padding-top: 1em;
    font-family: cursive;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
  }
  
  .navbar-nav .nav-item {
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    margin: 0 40px;
    font-weight:bolder;
  }



main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  
  .row {
    justify-content: center;
  }

  .card-body a{
    text-align: center;
    display: block;
    color: black;
    font-size: large;
  }

  .form-label {
    font-weight: bolder;
  }

  .form-check-label {
    font-weight: bolder;
  }

  .display-none {
    display: none;
}

table.pricing {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 80%;
    font-family: cursive;
    font-size: 20px;
}

table.pricing .price {
    text-align: right;
}

table.pricing tr:last-child {
    border-top: thin solid;
}

.custom-input {
    max-width: 300px;
    margin: 0;
  }